@{
    ViewData["Title"] = "За нас";
}

<div class="container">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <hr />
    <p>
        Фирма за домашни потреби KEEPHOME е създадена през 2018 г.
        Основен приоритет на фирмата е да създава уют, хармония и красота на разумни цени, предлагайки всичко необходимо, за да бъдете "Добре дошли у дома". Обзавеждане за всички помещения, осветление и аксесоари, с които се постига необходимата завършеност и уют на дома ще впечатлят и най-претенциозните сред вас. KEEPHOME предлага широка гама от продукти и асортимент, който непрекъснато се обновява. Всички артикули са с доказано качество и произход от водещи световни и български производители.
    </p>
    <p>
        Нашата мисия е да предоставяме добри решения за организиране на един красив и приятен за живеене дом. За тази цел разполагаме със страхотен екип от професионалисти.
        Стараем се да предоставяме на клиентите си лично отношение, професионализъм и качество, обслужване от врата до врата чрез услугите транспорт, разнос и монтаж на стоките. Гордеем се с големия брой лоялни клиенти и печелим тяхното уважение с качествени и идейни продукти. Тук ще намерите голям избор от функционални предмети за бита, както и много идеи за подаръци.
        KEEPHOME е мястото, където традиционното и модерното са съчетани по неповторим начин, така че всеки да успее да създаде дома на мечтите си.
    </p>
</div>