@{
    ViewData["Title"] = "Контакти";
}

<div class="container">
    <h2 class="text-center text-black">@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <hr />
    <address class="text-center">
        Keep Home<br />
        София, България<br />
        <abbr title="Phone">Телефонен номер:</abbr>
        +359 884 695 169
    </address>

    <address class="text-center">
        <strong>E-mail за връзка:</strong> <a href="mailto:info@keep-home.com">info@keep-home.com</a>
    </address>
</div>
