@model KeepHome.Web.ViewModels.ParentCategories.AllParentCategoriesViewModel

<div class="site-section site-blocks-2">
    <div class="container">
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <img src="images/women.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Category</span>
                            <h3>@category.Name</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>