@model KeepHome.Web.ViewModels.Payments.PayViewModel

@{
    ViewData["Title"] = "Pay";
}

<form action="@Model.SubmitUrl" method=POST>
    <div class="form-group">
        <input type=hidden name=PAGE value="paylogin">
    </div>
    <div class="form-group">
        <input type=hidden name=ENCODED value="@Model.Encoded">
    </div>
    <div class="form-group">
        <input type=hidden name=CHECKSUM value="@Model.ChechSum">
    </div>
    <div class="form-group">
        <input type=hidden name=URL_OK value="SET_URL_OK_IF_NEEDED">
    </div>
    <div class="form-group">
        @*SET_URL_CANCEL_IF_NEEDED*@
    <input type=hidden name=URL_CANCEL value="https://xeoncomputers.azurewebsites.net/">
</div>
<div class="form-group">
    <input type="submit" value="Плащане Epay" class="btn btn-primary" />
</div>
</form>

