<li class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Create">Products</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="ParentCategory" asp-action="All">Parent Categories</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="ChildCategories" asp-action="All">Child Categories</a>
    </div>
</li>