@model KeepHome.Web.ViewModels.Home.IndexViewModel

<form asp-controller="Search" asp-action="GetProduct"  class="site-block-top-search" method="get">
    <span class="icon icon-search2"></span>
    <input asp-for="Text" class="form-control border-0" id="Search" type="text" name="Search" >
</form>